body{
	border: 1px solid #ddd;
	width:330px;
    box-shadow: 0px 5px 15px 0px #eee;
}

#name {
	padding-left: 15px;
	font-weight: bold;
	font-size: 1.6em;
}

.image {
	padding-left:15px;
	padding-right:15px;
	width: 300px;
	height: auto;
}

.animal-info {
	border: 1px solid #ddd;
	margin: 15px;
	padding-left:15px;
	padding-right:15px;
	width: 270px;
}

.facts-list {
		list-style:none;
		padding: 0;
		margin: 0;
}

.facts-list span {
	font-weight:bold;
}
